bin/
forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
CREDITS-fml.txt
LICENSE-fml.txt
build/
.gradle/
.classpath
.project
eclipse/
.settings/
libs/*-javadoc.jar
libs/*-sources.jar